*{
    margin: 0;
    padding: 0;
}
:root{
    --header:'Tai Heritage Pro', serif;;
    --nav:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 14px 25px; 
    background: rgba(0, 0, 0, 0.7);
}
.orange{
    border: 1px solid #f6b256;
    width: 100%;
}
.tag{
    z-index: 20;
    top: 50%;
  width: 100%;
  text-align: center
}
.tag h1{
    color: whitesmoke;
}
.OrangeHead span{
    text-decoration: underline;
    color: orange;
    cursor: pointer;
}
.headerOrange{
    color: orange !important;
}
.navbar h3{
    cursor: pointer;
    font-family: var(--header);
}
.nav-item{
    list-style: none;
    float: left;
}
/* .about {
   background-color: orange;
   border-radius: 6px;
   padding: 3px;
}
.about li{
    color: black !important;
}
.about li:hover{
    color: wheat !important;
} */
.nav-item li{
    font-family:var(--nav);
    color: #f2f2f2;
    font-weight: 500;   
}
.nav-item li:hover{
    color: orange
}
.toggleButton{
    color: #f6b256;
    cursor: pointer;
    display:none ;
    font-size: 1.5rem;
   right: 16px; 
   top: 22px;
}
.sec1{
    background-image: url(./images/pexels-binyamin-mellish-106399.jpg);
    filter: brightness(50%);
    z-index: -50;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* #scroll{
    bottom: 8px;
  right: 16px;
  background-color: orange;
  cursor: pointer;
  opacity: 0 ;

} */
.test-text.black{
    background-color: yellow;
}

@media screen and (max-width:768px) {
    .orange{
        display: none;
    }
    .navbar{
        display: flex;
        border-bottom: none;
        align-items: flex-start !important; 
        text-align: center;
    }
    .nav-item{
        display: none !important;
        height: 30%;
        font-size: 1.5rem;
        padding-left: 0;
    }
    .nav-item li{
        color: #f6b256 !important;
        margin: 10px;
        width: 100% !important;
    }
    .nav-item a{
        width: 100% ;
        
    }
    .nav-item a:hover{
        background-color: black;
    }
    .about {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        
    }
    .toggleButton{
       display: flex;
    }
    .navbar .nav-item{
        width: 100%;
        flex-direction: column;
    }
    .nav-item.active{
        display: flex !important;
    }
  
}
